<table mat-table [dataSource]="list" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayColumns">
    <ng-container *ngIf="column !== 'id'">
      <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
      <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
    </ng-container>
    <ng-container *ngIf="column === 'id'">
      <th mat-header-cell *matHeaderCellDef class="action-row"> ACTION </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" routerLink="./update/{{row.id}}">UPDATE</button>
        <button mat-raised-button color="warn" (click)="delete(row.id)">DELETE</button>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

</table>

<button mat-icon-button [routerLink]="['./']"
  [queryParams]="{ prev: firstCreatedAt}">
  <mat-icon>skip_previous</mat-icon>
</button>
<button mat-icon-button [routerLink]="['./']"
  [queryParams]="{ next: lastCreatedAt}">
  <mat-icon>skip_next</mat-icon>
</button>