<table mat-table [dataSource]="list | async" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayColumn">
    <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-stroked-button color="warn" (click)="delete(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
</table>