<div class="create-post">
  <form class="create-post-form" [formGroup]="formGroup" (ngSubmit)="createPost(formGroup.value)">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="tag" placeholder="Tag">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="content" placeholder="Content" rows="20"></textarea>
      <em>Markdown support</em>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Author" formControlName="author">
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Create</button>
  </form>

  <markdown class="preview-post" lineNumbers  [data]="formGroup.value.content"></markdown>
</div>